# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [4]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', delimiter='\t')

### Step 4. See the first 10 entries

In [5]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [10]:
# Solution 1
len(chipo.index)

4622

In [13]:
# Solution 2
chipo.describe(include="all")

           order_id     quantity     item_name choice_description item_price
count   4622.000000  4622.000000          4622               3376       4622
unique          NaN          NaN            50               1043         78
top             NaN          NaN  Chicken Bowl        [Diet Coke]     $8.75
freq            NaN          NaN           726                134        730
mean     927.254868     1.075725           NaN                NaN        NaN
std      528.890796     0.410186           NaN                NaN        NaN
min        1.000000     1.000000           NaN                NaN        NaN
25%      477.250000     1.000000           NaN                NaN        NaN
50%      926.000000     1.000000           NaN                NaN        NaN
75%     1393.000000     1.000000           NaN                NaN        NaN
max     1834.000000    15.000000           NaN                NaN        NaN

### Step 6. What is the number of columns in the dataset?

In [15]:
len(chipo.columns)

5

### Step 7. Print the name of all the columns.

In [18]:
for col in chipo.columns:
    print(col)

order_id
quantity
item_name
choice_description
item_price

### Step 8. How is the dataset indexed?

In [19]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [66]:
#chipo.notna()
chipo.isnull().sum()

order_id                 0
quantity                 0
item_name                0
choice_description    1246
item_price               0
dtype: int64

### Step 9. Which was the most-ordered item?

In [118]:
#chipo.describe(include="all")["item_name"]["top":"freq"]
#chipo.describe(include="all").loc["top":"freq", "item_name"] # order is reversed when using loc

item_quants = chipo.groupby(["item_name"]).agg({"quantity": "sum"})
item_quants.sort_values(by="quantity", ascending=False)[:10]

                              quantity
item_name
Chicken Bowl                       761
Chicken Burrito                    591
Chips and Guacamole                506
Steak Burrito                      386
Canned Soft Drink                  351
Chips                              230
Steak Bowl                         221
Bottled Water                      211
Chips and Fresh Tomato Salsa       130
Canned Soda                        126

### Step 10. For the most-ordered item, how many items were ordered?

In [122]:
#chipo.describe(include="all").loc["top":"freq", "item_name"]
item_quants.sort_values(by="quantity", ascending=False)[:1]

              quantity
item_name
Chicken Bowl       761

### Step 11. What was the most ordered item in the choice_description column?

In [123]:
#chipo.describe(include="all").loc["top":"freq", "choice_description"]

choice_description_quants = chipo.groupby(["choice_description"]).agg({"quantity": "sum"})
choice_description_quants.sort_values(by="quantity", ascending=False)[:10]

                                                    quantity
choice_description
[Diet Coke]                                              159
[Coke]                                                   143
[Sprite]                                                  89
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...        49
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...        42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...        40
[Lemonade]                                                36
[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice,...        36
[Coca Cola]                                               32
[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream,...        30

### Step 12. How many items were orderd in total?

In [71]:
chipo["quantity"].sum()

4972

### Step 13. Turn the item price into a float

In [133]:
chipo_float = chipo.copy()

In [130]:
#chipo_float["item_price"] = chipo_float["item_price"].str.replace("$", "")
chipo_float["item_price"] = chipo_float["item_price"].str.slice(1).astype(np.float)
#chipo_float["item_price"] = chipo_float["item_price"].astype(np.float)

#### Step 13.a. Check the item price type

In [131]:
chipo_float["item_price"].dtype

dtype('float64')

#### Step 13.b. Create a lambda function and change the type of item price

In [136]:
change_type_lambda = lambda x: float(x[1:])
chipo_float["item_price"] = chipo_float["item_price"].apply(change_type_lambda)

#### Step 13.c. Check the item price type

In [137]:
chipo_float["item_price"].dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [147]:
chipo_float["item_total"] = chipo_float["item_price"]*chipo_float["quantity"]
revenue = chipo_float["item_total"].sum()
revenue

39237.02

In [132]:
chipo_float.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

### Step 15. How many orders were made in the period?

In [149]:
#len(chipo_float["order_id"].unique().tolist())
unique_order_count = chipo_float.order_id.nunique()
unique_order_count

1834

### Step 16. What is the average revenue amount per order?

In [148]:
# Solution 1
revenue / unique_order_count

21.39423118865867

In [4]:
# Solution 2

### Step 17. How many different items are sold?

In [151]:
chipo_float["item_name"].nunique()

50